
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="#">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact me</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1 class="greeting">Hello!</h1>
  <p class="intro">I'm Liza, a full stack software engineer.</p>

  <div class="row">
    {{#each portfolios}}
      <div class="col-12 col-sm-4">
        <div class="card mb-4" >
          <div class="text-center">
            <img src={{img}} class="card-img-top p-2" alt={{name}} style="width: 150px; height: 150px;">
          </div>
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">{{name}}</h5>
             <a href={{github}} class="card-link" target="_blank">Github</a>
             {{#if app_url}}
               <a href={{app_url}} class="card-link" target="_blank">Live site</a>
              {{/if}}
             </div>
          </div>
        </div>
      
      </div>

    {{/each}}
  
  </div>
</div>
